<!DOCTYPE html>
<html>
  <head>
    <title>Benchbnb</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyADDlES-aXBrd272QzJr0-sQBwK6RYjPCg" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
